.App {
  text-align: center;
  background-color: paleturquoise;
  overflow-x: hidden
}

.slide{
  display: block;
  position: relative;
}

.slide-two {
  width: 1000px;
  height: 400px;
  background-color: oldlace;
  animation-name: slide-two;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  top: 40px;
  left: 0%;;
}
@keyframes slide-two {
  0% {
    top: 40px;
    left: -1200px;
    opacity: 100%;
    
  }
  100% {
    top: 40px;
    left: 0%;
  }
}







.test {
  background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/151AB/production/_111434468_gettyimages-1143489763.jpg");

   min-height: 500px; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.test2 {
  background-image: url("https://m.hindustantimes.com/rf/image_size_444x250/HT/p2/2020/07/26/Pictures/_fbf9798a-cf40-11ea-8f16-bf30a6fcabb3.jpeg");

   min-height: 500px; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
	
	